@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

section {
  position: relative;
  z-index: 3;
}

button {
  cursor: pointer;
  text-decoration: none;
  border: none;
}

ul {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 575px) and (min-width: 280px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    min-width: 95%;
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    min-width: 95%;
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    min-width: 95%;
    max-width: 920px;
  }
}
@media (min-width: 1200px) {
  .container {
    min-width: 95%;
    max-width: 920px;
  }
}
@media (min-width: 1201px) {
  .container {
    min-width: 0;
    max-width: 1377px;
  }
}
.header {
  background-image: url(../img/header/bg-header.png);
  padding: 42px 0 330px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-menu-mobile-button {
  display: none;
}
.header-menu-wrapper {
  margin-bottom: 100px;
}
.header-menu-list-mobile {
  display: none;
}
.header-menu-list-item {
  list-style: none;
  color: #fafafc;
  margin-right: 30px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.header-menu-list-item__more {
  display: none;
}
.header-menu-enter-text {
  color: #03037a;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  margin-right: 25px;
}
.header-wrapper-subtitle {
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #f9807d;
  margin-left: 394px;
  margin-bottom: 6px;
}
.header-wrapper-title {
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #fafafc;
  margin-bottom: 46px;
}
.header-wrapper-text {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  color: #fafafc;
  width: 629px;
  margin-bottom: 42px;
}
.header-wrapper-button {
  padding: 19px 82px;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  border-radius: 10px;
  color: #fafafc;
  background-color: #f9807d;
}

.modal-menu {
  display: none;
}

@media (max-width: 1200px) {
  .header {
    padding: 42px 0 130px 0;
  }
  .header-menu-wrapper {
    margin-bottom: 30px;
  }
  .header-wrapper-title {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    padding: 42px 0 130px 0;
  }
  .header-wrapper-title {
    margin-bottom: 20px;
  }
  .header-menu-wrapper {
    margin-bottom: 30px;
  }
  .header-menu-list-mobile {
    display: block;
    position: absolute;
    margin-top: 15px;
  }
  .header-menu-list-mobile > li {
    margin-bottom: 15px;
  }
  .header-menu-list-mobile > li:nth-child(1) {
    display: none;
  }
  .header-menu-list-mobile > li:nth-child(2) {
    display: none;
  }
  .header-menu-list-item {
    position: relative;
  }
  .header-menu-list-item:nth-child(8) {
    display: none;
  }
  .header-menu-list-item:nth-child(7) {
    display: none;
  }
  .header-menu-list-item:nth-child(6) {
    display: none;
  }
  .header-menu-list-item__more {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 0;
  }
  .header-menu-list-item__more:after {
    content: "▾";
    position: relative;
    right: -10px;
  }
}
@media screen and (max-width: 992px) {
  .header {
    padding: 42px 0;
  }
  .header-menu-list-mobile > li:nth-child(1) {
    display: block;
  }
  .header-menu-list-mobile > li:nth-child(2) {
    display: block;
  }
  .header-menu-list-mobile > li:nth-child(3) {
    display: block;
  }
  .header-menu-list-mobile > li:nth-child(4) {
    display: block;
  }
  .header-menu-list-mobile > li:nth-child(5) {
    display: block;
  }
  .header-menu-list-item:nth-child(5) {
    display: none;
  }
  .header-menu-list-item:nth-child(4) {
    display: none;
  }
  .header-menu-list-item__more {
    display: block;
  }
  .header-wrapper-title {
    font-size: 38px;
  }
  .header-wrapper-subtitle {
    margin-left: 270px;
  }
  .header-wrapper-text {
    font-size: 18px;
    line-height: 22px;
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .header-menu-wrapper {
    margin-bottom: 10px;
  }
  .header-menu-list {
    display: none;
  }
  .header-menu-mobile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45px;
    height: 45px;
    background-color: transparent;
    border-radius: 50%;
  }
  .header-menu-mobile-button > span {
    width: 20px;
    height: 3px;
    background-color: #fafafc;
    margin-bottom: 4px;
  }
  .header-menu-mobile-button > span:last-child {
    margin-bottom: 0;
  }
  .header-wrapper-title {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .header-wrapper-subtitle {
    font-size: 18px;
  }
  .header-wrapper-text {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 575px) {
  .header {
    background-size: auto;
  }
  .header-menu-enter-text {
    display: none;
  }
  .header-wrapper-title {
    font-size: 22px;
  }
  .header-wrapper-subtitle {
    margin-left: 140px;
  }
  .header-wrapper-text {
    width: 100%;
  }
  .header-wrapper-button {
    padding: 12px 52px;
    width: 100%;
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .modal-menu {
    position: absolute;
    z-index: 99;
    left: 30px;
    right: 30px;
    display: block;
    background-color: white;
    top: 13%;
  }
  .modal-menu-list {
    display: grid;
    padding: 10px;
  }
  .modal-menu-list-items {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    padding: 15px;
  }
  .modal-menu-item {
    margin-bottom: 10px;
    color: #0c0c0c;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
  }
}
@media screen and (max-width: 458px) {
  .modal-list-item {
    display: block;
    margin-bottom: 15px;
  }
  .modal-list-item:last-child {
    margin-bottom: 0;
  }
  .modal-menu-list {
    padding: 15px;
  }
  .modal-menu-list-items {
    display: block;
  }
}
.footer {
  background-color: #1a2030;
  padding: 65px 0;
}
.footer-menu-logo {
  margin-right: 60px;
}
.footer-menu-wrapper-auf {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  color: #fafafc;
  margin-left: 10px;
}
.footer-menu-list-items {
  flex-wrap: wrap;
  gap: 10px;
}
.footer-menu-list-item {
  list-style: none;
  color: #fafafc;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.footer-menu-list-item:last-child {
  margin-right: 0;
}
.footer-info {
  margin-top: 34px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  color: #fafafc;
  opacity: 0.2;
}

@media screen and (max-width: 992px) {
  .footer-menu-list {
    display: none;
  }
}
@media screen and (max-width: 424px) {
  .footer-menu-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-menu-wrapper-auf:first-child {
    margin-left: 0;
  }
}
.service {
  padding: 113px 0 0 0;
}
.service-wrapper {
  margin-bottom: 104px;
}
.service-wrapper-descr {
  width: 55%;
}
.service-wrapper-descr:nth-child(2) {
  width: 45%;
}
.service-wrapper-descr-title {
  color: #03037a;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 66px;
}
.service-wrapper-descr-subtitle {
  color: #03037a;
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 30px;
}
.service-wrapper-descr-text {
  color: #0c0c0c;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
}
.service-wrapper-img {
  width: 30%;
  margin-right: 86px;
}

@media screen and (max-width: 1200px) {
  .service-wrapper-descr {
    width: 50%;
  }
  .service-wrapper-descr:nth-child(2) {
    width: 50%;
  }
  .service-wrapper-img {
    width: 50%;
    margin-right: 0;
  }
  .service-wrapper-img-second {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .service-wrapper {
    margin-bottom: 50px;
  }
  .service-wrapper-descr-title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .service-wrapper-descr-subtitle {
    font-size: 22px;
    margin-bottom: 17px;
  }
  .service-wrapper-descr-text {
    font-size: 17px;
    line-height: 24px;
  }
}
@media screen and (max-width: 575px) {
  .service {
    padding: 50px 0 0 0;
  }
  .service-wrapper {
    flex-direction: column;
  }
  .service-wrapper-img {
    order: -1;
    margin-bottom: 20px;
  }
  .service-wrapper-descr {
    width: 100%;
  }
  .service-wrapper-descr:nth-child(2) {
    width: 100%;
  }
}
.benefits {
  padding: 105px 0;
  background-image: linear-gradient(-106deg, #4566d0 0%, #324dc5 100%);
}
.benefits-title {
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #fafafc;
  margin-bottom: 56px;
  text-align: center;
}
.benefits-wrapper-card {
  box-shadow: -3px 4px 9px rgba(6, 8, 9, 0.16);
  border-radius: 20px;
  background-color: #fafafc;
  padding: 71px 40px;
  width: 430px;
  min-width: 30%;
  margin-right: 20px;
}
.benefits-wrapper-card-title {
  align-items: center;
}
.benefits-wrapper-card-title-img {
  margin-right: 37px;
}
.benefits-wrapper-card-title-text {
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #03037a;
}
.benefits-wrapper-card-descr {
  border-top: 2px solid #0c0c0c;
  margin: 30px 0 50px 0;
}
.benefits-wrapper-card-descr-text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  color: #0c0c0c;
}
.benefits-wrapper-card-button {
  width: 315px;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  border-radius: 10px;
  color: #f9807d;
  padding: 20px 0;
  background-color: #fafafc;
  border: 1px solid #f9807d;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.card-one {
  width: 223px;
  margin: 0 auto;
}

.card-two {
  width: 304px;
  margin: 0 auto;
}

.card-three {
  width: 213px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .benefits-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .benefits-wrapper-card {
    width: 90%;
    margin-bottom: 20px;
  }

  .card-one {
    width: 50%;
  }

  .card-two {
    width: 50%;
  }

  .card-three {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .card-two {
    width: 304px;
  }
}
@media screen and (max-width: 575px) {
  .benefits {
    padding: 50px 0;
  }
  .benefits-title {
    font-size: 26px;
  }
  .benefits-wrapper-card {
    width: 100%;
    margin-right: 0;
  }
  .benefits-wrapper-card-title {
    flex-direction: column;
  }
  .benefits-wrapper-card-title-img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .benefits-wrapper-card-title-text {
    font-size: 20px;
  }
  .benefits-wrapper-card-descr-text {
    font-size: 16px;
    line-height: 20px;
  }
  .benefits-wrapper-card-button {
    width: 100%;
    font-size: 18px;
    padding: 12px 10px;
  }

  .card-one {
    width: 100%;
  }

  .card-two {
    width: 100%;
  }

  .card-three {
    width: 100%;
  }
}
.header-sections {
  background-image: url(../img/header-sections.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 42px 0 42px 0;
}
.header-sections-menu-enter-text {
  color: #fafafc;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  margin-right: 25px;
}

.breadcrumbs {
  padding: 51px 0 63px 0;
  background-color: #fafafc;
}
.breadcrumbs-wrapper > p {
  opacity: 0.7;
  color: #0c0c0c;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  cursor: pointer;
}
.breadcrumbs-wrapper > p:nth-child(1) {
  margin-right: 5px;
}
.breadcrumbs-wrapper > p:nth-child(2) {
  margin-right: 5px;
}

@media screen and (max-width: 992px) {
  .breadcrumbs {
    padding: 50px 0 50px 0;
  }
}
.about-main {
  background-color: #fafafc;
  padding: 0 0 96px 0;
}
.about-main-right {
  width: 50%;
  display: flex;
  justify-content: end;
}
.about-main-right-image {
  width: 95%;
  max-width: 554px;
  height: 553px;
}
.about-main-left {
  width: 49%;
}
.about-main-left > h1 {
  color: #03037a;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 35px;
}
.about-main-left > p {
  color: #0c0c0c;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
}
.about-main-left > p:nth-child(3) {
  margin-bottom: 40px;
}
.about-main-left > p:nth-child(4) {
  margin-bottom: 40px;
}
.about-main-left > p > span {
  color: #03037a;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

@media screen and (max-width: 1200px) {
  .about-main-right {
    width: 50%;
    display: flex;
    justify-content: end;
  }
  .about-main-right-image {
    width: 95%;
    max-width: 350px;
    height: 350px;
  }
  .about-main-left {
    width: 68%;
  }
  .about-main-left > h1 {
    color: #03037a;
    font-size: 45px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 35px;
  }
  .about-main-left > p {
    color: #0c0c0c;
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    font-weight: 500;
  }
  .about-main-left > p:nth-child(3) {
    margin-bottom: 20px;
  }
  .about-main-left > p:nth-child(4) {
    margin-bottom: 20px;
  }
  .about-main-left > p > span {
    color: #03037a;
    font-weight: 700;
  }
}
@media screen and (max-width: 992px) {
  .about-main {
    padding: 0 0 50px 0;
  }
  .about-main-right {
    width: 50%;
    display: flex;
    justify-content: end;
  }
  .about-main-right-image {
    width: 95%;
    max-width: 300px;
    height: 300px;
  }
  .about-main-left {
    width: 68%;
  }
  .about-main-left > h1 {
    color: #03037a;
    font-size: 45px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 18px;
  }
  .about-main-left > p {
    color: #0c0c0c;
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    font-weight: 500;
  }
  .about-main-left > p:nth-child(3) {
    margin-bottom: 20px;
  }
  .about-main-left > p:nth-child(4) {
    margin-bottom: 20px;
  }
  .about-main-left > p > span {
    color: #03037a;
    font-weight: 700;
  }
}
@media screen and (max-width: 768px) {
  .about-main {
    padding: 0 0 50px 0;
  }
  .about-main-right {
    display: none;
  }
  .about-main-left {
    width: 100%;
  }
}
.referal-main {
  background-color: #fafafc;
  padding: 0 0 96px 0;
}
.referal-main-left {
  width: 50%;
}
.referal-main-left-buttons {
  margin-bottom: 34px;
}
.referal-main-left-buttons > button {
  width: 48%;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  border-radius: 10px;
  padding: 19px 0;
  border-radius: 10px;
  cursor: pointer;
}
.referal-main-left-buttons > button:nth-child(1) {
  color: #ffffff;
  background-color: #f9807d;
}
.referal-main-left-buttons > button:nth-child(2) {
  color: #f9807d;
  background-color: #ffffff;
  border: 1px solid #f9807d;
  position: relative;
}
.referal-main-left-buttons > button:nth-child(2)::before {
  content: "";
  position: absolute;
  background-image: url(../img/referal/copy-icon.webp);
  width: 25px;
  height: 29px;
  left: 55px;
}
.referal-main-left-form > input {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #03037a;
  background-color: #ffffff;
  padding: 20px 0 20px 37px;
  border-radius: 15px;
  border: 1px solid #3753c8;
  background-color: #ffffff;
  margin-bottom: 25px;
}
.referal-main-left > h1 {
  color: #03037a;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 35px;
}
.referal-main-left > p {
  color: #0c0c0c;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
}
.referal-main-left > p:nth-child(2) {
  margin-bottom: 40px;
}
.referal-main-left > p:nth-child(3) {
  margin-bottom: 40px;
}
.referal-main-left > h3 {
  color: #03037a;
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 31px;
}
.referal-main-left > span {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
}
.referal-main-right > img {
  width: 636px;
  height: 607px;
}/*# sourceMappingURL=style.css.map */