@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #fafafc;
}

section {
  position: relative;
  z-index: 3;
}

button {
  cursor: pointer;
  text-decoration: none;
  border: none;
}

ul {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media screen and (max-width: 575px) and (min-width: 280px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    min-width: 95%;
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    min-width: 95%;
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    min-width: 95%;
    max-width: 920px;
  }
}
@media (min-width: 1200px) {
  .container {
    min-width: 95%;
    max-width: 920px;
  }
}
@media (min-width: 1201px) {
  .container {
    min-width: 0;
    max-width: 1377px;
  }
}
.header {
  background-image: url(../img/main/header/bg-header.png);
  padding: 42px 0 330px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-menu-mobile-button {
  display: none;
}
.header-menu-wrapper {
  margin-bottom: 100px;
}
.header-menu-list-mobile {
  display: none;
}
.header-menu-list-item {
  list-style: none;
  color: #fafafc;
  margin-right: 30px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-decoration: none;
}
.header-menu-list-item:hover {
  font-weight: 500;
  color: #ffffff;
}
.header-menu-list-item__more {
  display: none;
}
.header-menu-enter-text {
  color: #03037a;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  margin-right: 25px;
}
.header-wrapper-subtitle {
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #f9807d;
  margin-left: 394px;
  margin-bottom: 6px;
}
.header-wrapper-title {
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #fafafc;
  margin-bottom: 46px;
}
.header-wrapper-text {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  color: #fafafc;
  width: 629px;
  margin-bottom: 42px;
}
.header-wrapper-button {
  padding: 19px 82px;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  border-radius: 10px;
  color: #fafafc;
  background-color: #f9807d;
}

.modal-menu {
  display: none;
}

@media (max-width: 1200px) {
  .header {
    padding: 42px 0 130px 0;
  }
  .header-menu-wrapper {
    margin-bottom: 30px;
  }
  .header-wrapper-title {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    padding: 42px 0 130px 0;
  }
  .header-wrapper-title {
    margin-bottom: 20px;
  }
  .header-menu-wrapper {
    margin-bottom: 30px;
  }
  .header-menu-list-mobile {
    display: none;
    position: absolute;
    margin-top: 15px;
    margin-right: 15px;
    background-color: #f9807d;
    width: 19%;
  }
  .header-menu-list-mobile > a {
    display: block;
    padding: 9px;
    cursor: pointer;
  }
  .header-menu-list-mobile > a:nth-child(1) {
    display: none;
  }
  .header-menu-list-mobile > a:nth-child(2) {
    display: none;
  }
  .header-menu-list-item {
    position: relative;
  }
  .header-menu-list-item:nth-child(8) {
    display: none;
  }
  .header-menu-list-item:nth-child(7) {
    display: none;
  }
  .header-menu-list-item:nth-child(6) {
    display: none;
  }
  .header-menu-list-item__more {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 0;
    cursor: pointer;
  }
  .header-menu-list-item__more:after {
    content: "▾";
    position: relative;
    right: -10px;
  }
}
@media screen and (max-width: 992px) {
  .header {
    padding: 42px 0;
  }
  .header-menu-list-mobile > a:nth-child(1) {
    display: block;
  }
  .header-menu-list-mobile > a:nth-child(2) {
    display: block;
  }
  .header-menu-list-mobile > a:nth-child(3) {
    display: block;
  }
  .header-menu-list-mobile > a:nth-child(4) {
    display: block;
  }
  .header-menu-list-mobile > a:nth-child(5) {
    display: block;
  }
  .header-menu-list-item:nth-child(5) {
    display: none;
  }
  .header-menu-list-item:nth-child(4) {
    display: none;
  }
  .header-menu-list-item__more {
    display: block;
  }
  .header-wrapper-title {
    font-size: 38px;
  }
  .header-wrapper-subtitle {
    margin-left: 270px;
  }
  .header-wrapper-text {
    font-size: 18px;
    line-height: 22px;
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .header-menu-wrapper {
    margin-bottom: 10px;
  }
  .header-menu-list {
    display: none;
  }
  .header-menu-mobile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45px;
    height: 45px;
    background-color: transparent;
    border-radius: 50%;
  }
  .header-menu-mobile-button > span {
    width: 20px;
    height: 3px;
    background-color: #fafafc;
    margin-bottom: 4px;
  }
  .header-menu-mobile-button > span:last-child {
    margin-bottom: 0;
  }
  .header-wrapper-title {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .header-wrapper-subtitle {
    font-size: 18px;
  }
  .header-wrapper-text {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 575px) {
  .header {
    background-size: auto;
  }
  .header-menu-enter-text {
    display: none;
  }
  .header-wrapper-title {
    font-size: 22px;
  }
  .header-wrapper-subtitle {
    margin-left: 140px;
  }
  .header-wrapper-text {
    width: 100%;
  }
  .header-wrapper-button {
    padding: 12px 52px;
    width: 100%;
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .modal-menu {
    position: absolute;
    z-index: 99;
    left: 44px;
    right: 30px;
    display: none;
    background-color: #f9807d;
    top: 101px;
  }
  .modal-menu-list {
    display: grid;
    padding: 10px;
  }
  .modal-menu-list-items {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    padding: 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    cursor: pointer;
  }
  .modal-menu-list-item {
    color: #ffffff;
    text-decoration: none;
  }
  .modal-menu-list-item:hover {
    font-weight: 500;
    color: #ffffff;
  }
}
@media screen and (max-width: 576px) {
  .modal-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
  }
  .modal-menu-list {
    height: inherit;
  }
  .modal-menu-list-items {
    display: flex;
    height: inherit;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    justify-content: center;
  }
  .modal-menu-list-item {
    color: #ffffff;
    text-decoration: none;
  }
}
.footer {
  background-color: #1a2030;
  padding: 65px 0;
}
.footer-menu-logo {
  margin-right: 60px;
}
.footer-menu-wrapper-auf {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  color: #fafafc;
  margin-left: 10px;
}
.footer-menu-list-items {
  flex-wrap: wrap;
  gap: 10px;
}
.footer-menu-list-item {
  list-style: none;
  color: #fafafc;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.footer-menu-list-item:last-child {
  margin-right: 0;
}
.footer-info {
  margin-top: 34px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  color: #fafafc;
  opacity: 0.2;
}

@media screen and (max-width: 992px) {
  .footer-menu-list {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .footer-menu-logo {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .footer-menu-wrapper {
    justify-content: center;
    flex-direction: column;
  }
  .footer-menu-wrapper-auf {
    margin-left: 0;
  }
}
.service {
  padding: 113px 0 0 0;
}
.service-wrapper {
  margin-bottom: 104px;
}
.service-wrapper-descr {
  width: 55%;
}
.service-wrapper-descr:nth-child(2) {
  width: 45%;
}
.service-wrapper-descr-title {
  color: #03037a;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 66px;
}
.service-wrapper-descr-subtitle {
  color: #03037a;
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 30px;
}
.service-wrapper-descr-text {
  color: #0c0c0c;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
}
.service-wrapper-img {
  width: 30%;
  margin-right: 86px;
}

@media screen and (max-width: 1200px) {
  .service-wrapper-descr {
    width: 50%;
  }
  .service-wrapper-descr:nth-child(2) {
    width: 50%;
  }
  .service-wrapper-img {
    width: 50%;
    margin-right: 0;
  }
  .service-wrapper-img-second {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .service-wrapper {
    margin-bottom: 50px;
  }
  .service-wrapper-descr-title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .service-wrapper-descr-subtitle {
    font-size: 22px;
    margin-bottom: 17px;
  }
  .service-wrapper-descr-text {
    font-size: 17px;
    line-height: 24px;
  }
}
@media screen and (max-width: 575px) {
  .service {
    padding: 50px 0 0 0;
  }
  .service-wrapper {
    flex-direction: column;
  }
  .service-wrapper-img {
    order: -1;
    margin-bottom: 20px;
  }
  .service-wrapper-descr {
    width: 100%;
  }
  .service-wrapper-descr:nth-child(2) {
    width: 100%;
  }
}
.benefits {
  padding: 105px 0;
  background-image: linear-gradient(-106deg, #4566d0 0%, #324dc5 100%);
}
.benefits-title {
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #fafafc;
  margin-bottom: 56px;
  text-align: center;
}
.benefits-wrapper-card {
  box-shadow: -3px 4px 9px rgba(6, 8, 9, 0.16);
  border-radius: 20px;
  background-color: #fafafc;
  padding: 71px 40px;
  width: 430px;
  min-width: 30%;
  margin-right: 20px;
}
.benefits-wrapper-card-title {
  align-items: center;
}
.benefits-wrapper-card-title-img {
  margin-right: 37px;
}
.benefits-wrapper-card-title-text {
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #03037a;
}
.benefits-wrapper-card-descr {
  border-top: 2px solid #0c0c0c;
  margin: 30px 0 50px 0;
}
.benefits-wrapper-card-descr-text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  color: #0c0c0c;
}
.benefits-wrapper-card-button {
  width: 315px;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  border-radius: 10px;
  color: #f9807d;
  padding: 20px 0;
  background-color: #fafafc;
  border: 1px solid #f9807d;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.card-one {
  width: 223px;
  margin: 0 auto;
  height: 60px;
}

.card-two {
  width: 304px;
  margin: 0 auto;
  height: 60px;
}

.card-three {
  width: 213px;
  margin: 0 auto;
  height: 60px;
}

@media screen and (max-width: 1200px) {
  .benefits-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .benefits-wrapper-card {
    width: 90%;
    margin-bottom: 20px;
  }

  .card-one {
    width: 50%;
  }

  .card-two {
    width: 50%;
  }

  .card-three {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .card-two {
    width: 304px;
  }
}
@media screen and (max-width: 575px) {
  .benefits {
    padding: 50px 0;
  }
  .benefits-title {
    font-size: 26px;
  }
  .benefits-wrapper-card {
    width: 100%;
    margin-right: 0;
  }
  .benefits-wrapper-card-title {
    flex-direction: column;
  }
  .benefits-wrapper-card-title-img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .benefits-wrapper-card-title-text {
    font-size: 20px;
  }
  .benefits-wrapper-card-descr-text {
    font-size: 16px;
    line-height: 20px;
  }
  .benefits-wrapper-card-button {
    width: 100%;
    font-size: 18px;
    padding: 12px 10px;
  }

  .card-one {
    width: 100%;
  }

  .card-two {
    width: 100%;
  }

  .card-three {
    width: 100%;
  }
}
.offer {
  padding: 105px 0;
}
.offer__main {
  padding: 0;
}
.offer-wrapper__main {
  flex-wrap: wrap;
  gap: 32px;
}
.offer-arrow-left {
  position: absolute;
  top: 50%;
  left: -1%;
  z-index: 99;
  cursor: pointer;
}
.offer-arrow-right {
  position: absolute;
  top: 50%;
  right: -1%;
  z-index: 100;
  cursor: pointer;
}
.offer-title {
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #03037a;
  margin-bottom: 56px;
  text-align: center;
}
.offer-title__main {
  text-align: left;
}
.offer-more {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  color: #03037a;
  text-align: right;
  display: block;
  margin-top: 25px;
}

.header-sections {
  background-image: url(../img/header-sections.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 42px 0 42px 0;
  position: relative;
  z-index: 99;
}
.header-sections-menu-enter-text {
  color: #fafafc;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  margin-right: 25px;
}

.breadcrumbs {
  padding: 51px 0 63px 0;
  background-color: #fafafc;
}
.breadcrumbs-wrapper > a {
  opacity: 0.7;
  color: #0c0c0c;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
}
.breadcrumbs-wrapper > a:nth-child(1) {
  margin-right: 5px;
}
.breadcrumbs-wrapper > span {
  margin-right: 5px;
}

@media screen and (max-width: 992px) {
  .breadcrumbs {
    padding: 50px 0 50px 0;
  }
}
.about-main {
  background-color: #fafafc;
  padding: 0 0 96px 0;
}
.about-main-right {
  width: 50%;
  display: flex;
  justify-content: end;
}
.about-main-right-image {
  width: 95%;
  max-width: 554px;
  height: 553px;
}
.about-main-left {
  width: 49%;
}
.about-main-left > h1 {
  color: #03037a;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 35px;
}
.about-main-left > p {
  color: #0c0c0c;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
}
.about-main-left > p:nth-child(3) {
  margin-bottom: 40px;
}
.about-main-left > p:nth-child(4) {
  margin-bottom: 40px;
}
.about-main-left > p > span {
  color: #03037a;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

@media screen and (max-width: 1200px) {
  .about-main-right {
    width: 50%;
    display: flex;
    justify-content: end;
  }
  .about-main-right-image {
    width: 95%;
    max-width: 350px;
    height: 350px;
  }
  .about-main-left {
    width: 68%;
  }
  .about-main-left > h1 {
    color: #03037a;
    font-size: 45px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 35px;
  }
  .about-main-left > p {
    color: #0c0c0c;
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    font-weight: 500;
  }
  .about-main-left > p:nth-child(3) {
    margin-bottom: 20px;
  }
  .about-main-left > p:nth-child(4) {
    margin-bottom: 20px;
  }
  .about-main-left > p > span {
    color: #03037a;
    font-weight: 700;
  }
}
@media screen and (max-width: 992px) {
  .about-main {
    padding: 0 0 50px 0;
  }
  .about-main-right {
    width: 50%;
    display: flex;
    justify-content: end;
  }
  .about-main-right-image {
    width: 95%;
    max-width: 300px;
    height: 300px;
  }
  .about-main-left {
    width: 68%;
  }
  .about-main-left > h1 {
    color: #03037a;
    font-size: 45px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 18px;
  }
  .about-main-left > p {
    color: #0c0c0c;
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    font-weight: 500;
  }
  .about-main-left > p:nth-child(3) {
    margin-bottom: 20px;
  }
  .about-main-left > p:nth-child(4) {
    margin-bottom: 20px;
  }
  .about-main-left > p > span {
    color: #03037a;
    font-weight: 700;
  }
}
@media screen and (max-width: 768px) {
  .about-main {
    padding: 0 0 50px 0;
  }
  .about-main-right {
    display: none;
  }
  .about-main-left {
    width: 100%;
  }
}
.referal-main {
  background-color: #fafafc;
  padding: 0 0 96px 0;
}
.referal-main-left {
  width: 50%;
}
.referal-main-left-buttons {
  margin-bottom: 34px;
}
.referal-main-left-buttons > button {
  width: 48%;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  border-radius: 10px;
  padding: 19px 0;
  border-radius: 10px;
  cursor: pointer;
}
.referal-main-left-buttons > button:nth-child(1) {
  color: #ffffff;
  background-color: #f9807d;
}
.referal-main-left-buttons > button:nth-child(2) {
  color: #f9807d;
  background-color: #ffffff;
  border: 1px solid #f9807d;
  position: relative;
}
.referal-main-left-buttons > button:nth-child(2)::before {
  content: "";
  position: absolute;
  background-image: url(../img/referal/copy-icon.webp);
  width: 25px;
  height: 29px;
  left: 55px;
}
.referal-main-left-form > input {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #03037a;
  background-color: #ffffff;
  padding: 20px 0 20px 37px;
  border-radius: 15px;
  border: 1px solid #3753c8;
  background-color: #ffffff;
  margin-bottom: 25px;
}
.referal-main-left > h1 {
  color: #03037a;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 35px;
}
.referal-main-left > p {
  color: #0c0c0c;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
}
.referal-main-left > p:nth-child(2) {
  margin-bottom: 40px;
}
.referal-main-left > p:nth-child(3) {
  margin-bottom: 40px;
}
.referal-main-left > h3 {
  color: #03037a;
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 31px;
}
.referal-main-left > span {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
}
.referal-main-right > img {
  width: 636px;
  height: 607px;
}

@media screen and (max-width: 1200px) {
  .referal-main-right {
    display: none;
  }
  .referal-main-left {
    width: 100%;
  }
  .referal-main-left > h1 {
    color: #03037a;
    font-size: 45px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 35px;
  }
  .referal-main-left > p {
    color: #0c0c0c;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    font-weight: 500;
  }
  .referal-main-left > p:nth-child(3) {
    margin-bottom: 20px;
  }
  .referal-main-left > p:nth-child(4) {
    margin-bottom: 20px;
  }
  .referal-main-left > p > span {
    color: #03037a;
    font-weight: 700;
  }
}
@media screen and (max-width: 992px) {
  .referal-main {
    padding: 0 0 50px 0;
  }
  .referal-main-left {
    width: 100%;
  }
  .referal-main-left > h1 {
    color: #03037a;
    font-size: 45px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 18px;
  }
  .referal-main-left > p {
    color: #0c0c0c;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    font-weight: 500;
  }
  .referal-main-left > p:nth-child(3) {
    margin-bottom: 20px;
  }
  .referal-main-left > p:nth-child(4) {
    margin-bottom: 20px;
  }
  .referal-main-left > p > span {
    color: #03037a;
    font-weight: 700;
  }
}
@media screen and (max-width: 768px) {
  .referal-main {
    padding: 0 0 50px 0;
  }
  .referal-main-left {
    width: 100%;
  }
  .referal-main-left-buttons {
    flex-wrap: wrap;
  }
  .referal-main-left-buttons > button {
    width: 100%;
  }
  .referal-main-left-buttons > button:nth-child(1) {
    margin-bottom: 20px;
  }
}
.contact-main {
  margin-bottom: 104px;
  background-color: #fafafc;
}
.contact-main-title > h1 {
  color: #03037a;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 35px;
}
.contact-main-title > p {
  color: #0c0c0c;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  width: 95%;
  max-width: 659px;
  margin-bottom: 46px;
}
.contact-main-wrapper-left {
  width: 30%;
  border-radius: 20px;
  background-color: #4262ce;
  padding: 46px 0;
}
.contact-main-wrapper-left-info {
  text-align: center;
  margin-bottom: 34px;
}
.contact-main-wrapper-left-info > p {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 15px;
}
.contact-main-wrapper-left-info > a {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  color: #f8f8f8;
  text-decoration: none;
}
.contact-main-wrapper-left-info:nth-child(3) > p {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  width: 226px;
  margin: 15px auto;
}
.contact-main-wrapper-left-info:nth-child(4) {
  margin-bottom: 0;
}
.contact-main-wrapper-left-info-icons > img:nth-child(1) {
  margin-right: 30px;
}
.contact-main-wrapper-right {
  width: 68%;
  height: 527px;
  background-image: url(../img/contacts/yandex-map.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  border: 1px solid #03037a;
}

@media screen and (max-width: 992px) {
  .contact-main-wrapper-left {
    width: 50%;
  }
  .contact-main-wrapper-right {
    width: 48%;
  }
}
@media screen and (max-width: 768px) {
  .contact-main-wrapper {
    flex-wrap: wrap;
  }
  .contact-main-wrapper-left {
    margin-bottom: 25px;
    width: 100%;
  }
  .contact-main-wrapper-right {
    width: 100%;
  }
}
.reg-main {
  padding: 105px 0;
}
.reg-main-wrapper-left {
  width: 70%;
  display: flex;
  align-items: center;
}
.reg-main-wrapper-right {
  width: 50%;
}
.reg-main-wrapper-right > h1 {
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  margin-bottom: 57px;
  color: #03037a;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .reg-main-wrapper-left {
    display: none;
  }
  .reg-main-wrapper-right {
    width: 100%;
  }
}
.conditions-title {
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #03037a;
  margin-bottom: 35px;
}
.conditions-wrapper {
  margin-bottom: 46px;
}
.conditions-wrapper-left {
  width: 50%;
}
.conditions-wrapper-left-text {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  margin-bottom: 35px;
}
.conditions-wrapper-left-text-blue {
  color: #03037a;
  font-weight: 600;
}
.conditions-wrapper-left-text:nth-child(3) {
  margin-bottom: 0;
}
.conditions-wrapper-left-text:nth-child(4) {
  margin-bottom: 0;
}
.conditions-wrapper-right {
  width: 40%;
}
.conditions-wrapper-right > img {
  max-width: 100%;
}
.conditions-buttons-buy {
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  border-radius: 10px;
  background-color: #f9807d;
  color: #ffffff;
  padding: 19px 93px;
  margin-right: 30px;
}
.conditions-buttons-sell {
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  border-radius: 10px;
  color: #f9807d;
  background-color: #fafafc;
  padding: 19px 84px;
  border: 1px solid #f9807d;
}

@media screen and (max-width: 1200px) {
  .conditions-wrapper-right {
    display: none;
  }
  .conditions-wrapper-left {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .conditions-buttons-buy {
    padding: 19px 40px;
  }
  .conditions-buttons-sell {
    padding: 19px 40px;
  }
}
@media screen and (max-width: 576px) {
  .conditions-buttons {
    display: flex;
    flex-direction: column;
  }
  .conditions-buttons-buy {
    margin-bottom: 20px;
    width: 100%;
  }
  .conditions-buttons-sell {
    width: 100%;
  }
}
.usage-title {
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #03037a;
  margin-bottom: 55px;
}
.usage-wrapper {
  margin-bottom: 66px;
}
.usage-wrapper-left {
  width: 48%;
}
.usage-wrapper-left-img {
  width: 100%;
}
.usage-wrapper-right {
  width: 48%;
}
.usage-wrapper-right-img {
  width: 100%;
}
.usage-wrapper-title {
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #03037a;
  margin-bottom: 30px;
}
.usage-wrapper-text {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  color: #0c0c0c;
  margin-bottom: 38px;
}
.usage-wrapper-img {
  margin-bottom: 37px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .usage-wrapper {
    flex-direction: column;
  }
  .usage-wrapper-left {
    width: 100%;
  }
  .usage-wrapper-left-img {
    display: none;
  }
  .usage-wrapper-right {
    width: 100%;
  }
  .usage-wrapper-right-img {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .usage-title {
    margin-bottom: 30px;
    font-size: 30px;
  }
  .usage-wrapper {
    margin-bottom: 0;
  }
  .usage-wrapper-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .usage-wrapper-text {
    font-size: 16px;
    line-height: 24px;
  }
}
.price-title {
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #03037a;
  margin-bottom: 27px;
}
.price-wrapper {
  margin-bottom: 64px;
}
.price-wrapper-left {
  width: 48%;
}
.price-wrapper-left-text {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  color: #0c0c0c;
  margin-bottom: 38px;
}
.price-wrapper-right {
  width: 48%;
}
.price-wrapper-right-img {
  width: 80%;
}

@media screen and (max-width: 992px) {
  .price-wrapper-left {
    width: 100%;
  }
  .price-wrapper-right {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .price-title {
    font-size: 36px;
  }
  .price-wrapper {
    margin-bottom: 0;
  }
  .price-wrapper-left-text {
    font-size: 18px;
  }
}
.form {
  border-radius: 20px;
  background-image: linear-gradient(to top, #344ec6 0%, #4364cf 100%);
  padding: 65px 71px;
}
.form > input {
  border-radius: 15px;
  background-color: #ffffff;
  border: none;
  padding: 22px 0 22px 35px;
  width: 100%;
  margin-bottom: 20px;
  color: #272727;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  text-align: left;
}
.form > textarea {
  border-radius: 15px;
  background-color: #ffffff;
  border: none;
  padding: 22px 0 22px 35px;
  width: 100%;
  color: #272727;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  text-align: left;
  height: 111px;
}
.form-licene {
  margin-bottom: 29px;
}
.form-licene > input {
  margin: 0 15px 0 26px;
  width: 16px;
  height: 16px;
}
.form-licene > p {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  opacity: 0.6;
  color: #ffffff;
}
.form > button {
  margin-top: 45px;
  border-radius: 10px;
  background-color: #ffffff;
  border: none;
  padding: 22px 0 22px 35px;
  width: 100%;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  border-radius: 10px;
  background-color: #f9807d;
  color: #ffffff;
}
.form-buttons {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
}
.form-buttons > button {
  border-radius: 15px;
  padding: 22px 0 22px 0;
  width: 49.7%;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  padding-left: 36px;
  height: inherit;
  background-color: #e3edfc;
}
.form-buttons > button:nth-child(1) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.form-buttons > button:nth-child(2) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.form .active {
  background-color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .form-individual-right {
    align-items: flex-end;
  }
  .form-individual-right > img {
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  .form-individual-wrapper {
    flex-direction: column;
  }
  .form-individual-right {
    justify-content: center;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 576px) {
  .form {
    padding: 20px 20px;
  }
  .form > input {
    padding: 10px 0 10px 20px;
  }
  .form-individual-left > h3 {
    font-size: 23px;
  }
  .form-buttons > button {
    padding: 8px 0 8px 14px;
  }
  .form > button {
    padding: 14px 0;
    margin-top: 5px;
  }
  .form > textarea {
    padding: 10px 0 10px 20px;
  }
}
.form-individual {
  margin: 104px 0 97px 0;
}
.form-individual-left > h3 {
  margin-bottom: 37px;
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #03037a;
}
.form-individual-right {
  width: 100%;
  display: flex;
  align-items: center;
}
.feedback-form {
  margin-bottom: 104px;
}
.feedback-form > div > h3 {
  margin-bottom: 38px;
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #03037a;
}
.feedback-form-left {
  width: 50%;
}
.feedback-form-right {
  width: 46%;
  padding: 30px 0;
}
.feedback-form-right > img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .feedback-form > h3 {
    text-align: center;
  }
  .feedback-form-wrapper {
    justify-content: center;
  }
  .feedback-form-right {
    display: none;
  }
  .feedback-form-left {
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  .feedback-form-left {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .feedback-form {
    margin-bottom: 60px;
  }
  .feedback-form > div > h3 {
    font-size: 26px;
  }
}
.card {
  box-shadow: -3px 4px 9px rgba(6, 8, 9, 0.16);
  border-radius: 20px;
  background-color: #fafafc;
  padding: 71px 40px;
  width: 430px;
  min-width: 30%;
  margin-right: 20px;
}
.card__main {
  max-width: 426px;
  min-width: 30%;
  margin-right: 0;
}
.card-title {
  align-items: center;
  height: 50px;
}
.card-title-img {
  margin-right: 21px;
}
.card-title-text {
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #03037a;
}
.card-descr {
  border-top: 2px solid #0c0c0c;
  margin: 30px 0 50px 0;
}
.card-descr-text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  color: #0c0c0c;
}
.card-price-left {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
}
.card-price-right {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  color: #03037a;
}
.card-button {
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #f9807d;
  width: 100%;
  padding: 20px 0;
  background-color: transparent;
  color: #f9807d;
}

@media screen and (max-width: 1370px) {
  .card__main {
    max-width: 348px;
    min-width: 30%;
  }
  .card-title-img__main {
    width: 4rem;
  }
  .card-title-text__main {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1200px) {
  .offer-wrapper__main {
    justify-content: space-between;
  }

  .card__main {
    max-width: 45%;
    min-width: 45%;
  }
  .card-title-img__main {
    width: 4rem;
  }
  .card-title-text__main {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 992px) {
  .offer-wrapper__main {
    flex-direction: column;
  }

  .card__main {
    max-width: 100%;
    width: 100%;
  }
  .card-title {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */