@mixin heading-style
    font-size: 45px
    font-weight: 700
    font-style: normal
    letter-spacing: normal
    line-height: normal

@mixin subtitle-style
    font-size: 35px
    font-weight: 400
    font-style: normal
    letter-spacing: normal
    line-height: normal

@mixin text-style
    font-size: 22px
    font-weight: 400
    font-style: normal
    letter-spacing: normal
    line-height: 29px

@mixin small-text-style
    font-size: 18px
    font-weight: 400
    font-style: normal
    letter-spacing: normal
    line-height: 29px

@mixin button
    font-size: 22px
    font-weight: 700
    font-style: normal
    letter-spacing: normal
    line-height: normal
    text-align: center
    border-radius: 10px
