*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    font-family: 'Raleway', sans-serif

section
    position: relative
    z-index: 3

button
    cursor: pointer
    text-decoration: none

ul
    cursor: pointer

.container
    width: 1130px
    margin: 0 auto
    padding: 0 15px

.d-flex
    display: flex
