*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    font-family: 'Raleway', sans-serif
    background-color: #fafafc
section
    position: relative
    z-index: 3

button
    cursor: pointer
    text-decoration: none
    border: none

ul
    cursor: pointer

.d-flex
    display: flex

.space-between
    justify-content: space-between

.center
    align-items: center
.column
    flex-direction: column
@media screen and (max-width: 1200px)
    .overflow
        overflow-x: scroll
    .overflow
        & > table
            width: 0!important
            min-width: 1200px
.num
    font-family: 'Montserrat', sans-serif
