@media screen and  (max-width: 1200px)
    .feedback
        &-form
            &-right
                & > img
                    width: 416px
                    height: 416px
            &-left
                width: 60%
@media screen and  (max-width: 992px)
    .feedback
        &-form
            &-right
                display: none
            &-left
                width: 100%
