@media screen and  (max-width: 1200px)
    .conditions
        &-wrapper
            &-right
                display: none
            &-left
                width: 100%
@media screen and  (max-width: 768px)
    .conditions
        &-buttons
            &-buy
                padding: 19px 40px
            &-sell
                padding: 19px 40px
@media screen and  (max-width: 576px)
    .conditions
        &-buttons
            display: flex
            flex-direction: column
            &-buy
                margin-bottom: 20px
                width: 100%
            &-sell
                width: 100%
