@media screen and (max-width: 768px)
    .offer
        padding: 70px 0
@media screen and (max-width: 576px)
    .offer
        padding: 0
        &-title
            font-size: 26px
            margin-bottom: 30px
    .card
        &-descr
            &-text
                font-size: 16px!important
                line-height: 20px!important
