@media screen and (max-width: 992px)
    .footer
        &-menu
            &-list
                display: none

@media screen and (max-width: 424px)
    .footer
        &-menu
            &-wrapper
                flex-wrap: wrap
                justify-content: center
                &-auf
                    &:first-child
                        margin-left: 0
