@media screen and  (max-width: 992px)
    .usage
        &-title
            margin-bottom: 30px
        &-wrapper
            flex-direction: column
            &-left
                width: 100%
                &-img
                    display: none
            &-right
                width: 100%
                &-img
                    display: none
            &-text
                margin-bottom: 0
@media screen and  (max-width: 768px)
    .usage
        &-wrapper
            &-img
                margin: 20px 0
@media screen and  (max-width: 576px)
    .usage
        &-title
            margin-bottom: 20px
            font-size: 26px
        &-wrapper
            margin-bottom: 0
            &-title
                font-size: 20px
                margin-bottom: 10px
            &-text
                font-size: 16px
                line-height: 20px
                margin-bottom: 20px
