.price
    &-title
        @include title-style
        color: $blue-color
        margin-bottom: 27px
    &-wrapper
        margin-bottom: 64px
        &-left
            width: 48%
            &-text
                @include text-style
                color: $dark-color
                margin-bottom: 38px
        &-right
            width: 48%
            &-img
                width: 80%
.price-dashboard-wrapper
    margin-bottom: 65px
    box-shadow: -5px 8px 7px 2px rgba(6, 8, 9, 0.11)
    background-image: linear-gradient(-106deg, #4566d0 0%, #324dc5 100%)
    border-radius: 45px
    padding: 66px
    & > table
        width: 100%
        border-spacing: 0 20px
        border-collapse: separate
        border: 0
    & > table thead tr th
        background: transparent
        color: #fefefe
        font-size: 18px
        font-weight: 400
    & > table thead tr th:nth-child(1)
        padding-left: 60px
        text-align: left
    & > table thead tr th:nth-child(2)
        text-align: left
    & > table tbody tr td
        &:first-child
            border-radius: 15px 0 0 15px
        &:last-child
            border-radius: 0 15px 15px 0
    & > table tbody td
        padding: 25px 35px
        color: #272727
        font-family: Raleway
        font-size: 18px
        font-weight: 400
        text-align: center
        background: #ffffff
        border: 0
    & > table tbody tr
        background: #ffffff
    & > table tbody tr td:nth-child(1)
        padding-left: 60px
        text-align: left
    & > table tbody tr td:nth-child(2)
        text-align: left
        padding: 25px 0
    & > table tbody tr td:nth-child(3)
        color: #17bd1b
        font-weight: 700
    & > table tbody tr td button
        background-color: transparent
        color: $pink-color
        @include button
        font-weight: 400
.price-dashboard-mobile
    display: none
