@media screen and  (max-width: 992px)
    .price
        &-wrapper
            &-left
                width: 100%
            &-right
                display: none
@media screen and  (max-width: 768px)
    .price
        &-wrapper
            margin-bottom: 0
@media screen and  (max-width: 576px)
    .price
        padding: 0 0 20px 0
        &-title
            font-size: 38px
        &-wrapper
            &-left
                &-text
                    font-size: 18px
                    margin-bottom: 20px
