@media screen and  (max-width: 992px)
    .price
        &-wrapper
            &-left
                width: 100%
            &-right
                display: none
@media screen and  (max-width: 576px)
    .price
        &-title
            font-size: 36px
        &-wrapper
            margin-bottom: 0
            &-left
                &-text
                    font-size: 18px
