@media screen and  (max-width: 1200px)
    .service
        &-wrapper
            &-descr
                width: 50%
                &:nth-child(2)
                    width: 50%
                &-title
                    margin-bottom: 25px
                &-subtitle
                    margin-bottom: 16px
            &-img
                width: 50%
                margin-right: 0
                &-second
                    width: 100%
