@media screen and  (max-width: 1200px)
    .formgroup
        &-form
            padding: 30px 20px
        &-connection
            padding: 30px 25px
        &-download
            padding: 30px 10px
            &-button
                padding: 15px 50px
@media screen and  (max-width: 992px)
    .name
        padding: 70px 0
        &-wrapper
            flex-direction: column
            margin-bottom: 20px
        &-title
            font-size: 30px
            margin-bottom: 20px
        &-tags
            flex-direction: column
            &-title
                margin-bottom: 15px
            &-wrapper
                flex-wrap: wrap
            &-item
                margin-bottom: 10px
    .formgroup
        padding: 0
        &-wrapper
            flex-direction: column
            align-items: center
        &-form
            width: 80%
            margin-bottom: 30px
        &-connection
            width: 80%
            margin-bottom: 30px
        &-download
            width: 80%
            padding: 26px 22px
    .sells
        &-title
            font-size: 22px
        &-total
            justify-content: space-between
            &-wrapper
                display: flex
@media screen and  (max-width: 576px)
    .name
        &-details
            flex-direction: column
            &-item
                margin-bottom: 10px
                font-size: 20px
        &-title
            font-size: 26px!important
            margin-bottom: 10px!important
        &-tags
            &-title
                font-size: 20px
    .formgroup
        &-wrapper
            margin-top: 50px
            margin-bottom: 50px
        &-form
            width: 100%
            &-title
                font-size: 20px
            &-input
                padding: 10px 0 10px 25px
        &-connection
            width: 100%
            &-title
                font-size: 20px
                margin-bottom: 30px
            &-text
                font-size: 16px
                line-height: 20px
            &-img
                margin-bottom: 30px
        &-download
            width: 100%
            &-wrapper
                padding: 45px 25px
            &-text
                font-size: 16px
                line-height: 20px
            &-button
                margin-bottom: 30px
    .sells
        padding: 50px 0
        &-total
            flex-direction: column
            align-items: center
            &-wrapper
                margin-bottom: 20px
            &-button
                width: 90%
                margin-left: 0
    .profile
        &-dashboard
            display: none
            &-mobile
                display: block
                &-title
                    text-align: center
                    color: $blue-color
                    padding-bottom: 30px
                    @include subtitle-style
                    font-size: 26px
                &-wrapper
                    background-image: linear-gradient(-106deg, #4566d0 0%, #324dc5 100%)
                    border-radius: 20px
                    padding: 45px 0
                    & > button
                        border-radius: 10px
                        background-color: #f9807d
                        @include button
                        color: $white-color
                        padding: 19px 0
                        width: 90%
                        position: relative
                        left: 50%
                        transform: translate( -50%, 0)
                        cursor: pointer
                        margin-top: 40px
                &-list
                    display: flex
                    flex-direction: column
                    align-items: center
                &-card
                    border-radius: 15px
                    background-color: #ffffff
                    padding: 25px
                    width: 90%
                    margin-bottom: 14px
                    &-title
                        margin-bottom: 20px
                        &-text
                            color: #272727
                            font-family: Raleway
                            font-size: 16px
                            font-weight: 400
                    &-body
                        align-items: baseline
                        color: #141313
                        font-family: Raleway
                        font-size: 16px
                        font-weight: 400
                        justify-content: space-between
                        margin-bottom: 14px
                        &:last-child
                            margin-bottom: 0
                        &-line
                            background-color: #3856c8
                            opacity: 0.2
                            width: 30%
                            height: 1px
                        &-num
                            font-family: 'Montserrat', sans-serif
                    &-button
                        color: $pink-color
                        @include button
                        font-weight: 400
                        background-color: transparent
                        width: 100%
                        margin-top: 23px
    .profile-dashboard-bottom
        display: none
    .profile
        &-dashboard
            &-mobile
                &-bottom
                    display: block
                    &-title
                        text-align: center
                        color: $blue-color
                        @include subtitle-style
                        font-size: 26px
                        padding-bottom: 30px
                    &-wrapper
                        background-image: linear-gradient(-106deg, #4566d0 0%, #324dc5 100%)
                        border-radius: 20px
                        padding: 45px 0
                        & > button
                            border-radius: 10px
                            background-color: #f9807d
                            @include button
                            color: $white-color
                            padding: 19px 0
                            width: 90%
                            position: relative
                            left: 50%
                            transform: translate( -50%, 0)
                            cursor: pointer
                            margin-top: 40px
                    &-list
                        display: flex
                        flex-direction: column
                        align-items: center
                    &-card
                        border-radius: 15px
                        background-color: #ffffff
                        padding: 25px
                        width: 90%
                        margin-bottom: 14px
                        &-title
                            margin-bottom: 20px
                            &-text
                                color: #272727
                                font-family: Raleway
                                font-size: 16px
                                font-weight: 400
                        &-body
                            align-items: baseline
                            color: #141313
                            font-family: Raleway
                            font-size: 16px
                            font-weight: 400
                            justify-content: space-between
                            margin-bottom: 14px
                            &:last-child
                                margin-bottom: 0
                            &-line
                                background-color: #3856c8
                                opacity: 0.2
                                width: 30%
                                height: 1px
                            &-num
                                font-family: 'Montserrat', sans-serif
                            &-total
                                color: #bd1727
                                font-size: 16px
                                font-weight: 400
                                text-align: center
                            &-buttons
                                text-align: center
                                margin-top: 20px
                                & > button
                                    background-color: transparent
                                    margin-left: 11px
                                    margin-right: 11px
                        &-button
                            color: $pink-color
                            @include button
                            font-weight: 400
                            background-color: transparent
                            width: 100%
                            margin-top: 23px
