.name
    &-details
        &-item
            &:nth-child(2)
                margin-right: 30px
    &-title
        &-dashboard
            @include title-style
            color: $blue-color
    &-details
        &-stars
            margin-top: 5px
            & > img
                width: 16px
                height: 16px
.profile-dashboard-offer-lead
    & > h3
        @include subtitle-style
        color: $blue-color
        margin-bottom: 31px
.profile-dashboard-offer-wrapper
    margin-bottom: 65px
    box-shadow: -5px 8px 7px 2px rgba(6, 8, 9, 0.11)
    background-image: linear-gradient(-106deg, #4566d0 0%, #324dc5 100%)
    border-radius: 45px
    padding: 66px
    & > table
        width: 100%
        border-spacing: 0 20px
        border-collapse: separate
        border: 0
    & > table thead tr th
        background: transparent
        color: #fefefe
        font-size: 18px
        font-weight: 400
    & > table thead tr th:nth-child(2)
        text-align: left
    & > table tbody tr td
        &:first-child
            border-radius: 15px 0 0 15px
        &:last-child
            border-radius: 0 15px 15px 0
    & > table tbody td
        padding: 25px 35px
        color: #272727
        font-family: Raleway
        font-size: 18px
        font-weight: 400
        text-align: center
        background: #ffffff
        border: 0
    & > table tbody tr
        background: #ffffff
    & > table tbody tr td:nth-child(2)
        text-align: left
        padding: 25px 0
    & > table tbody tr td:nth-child(5)
        color: #bd1727
    & > table tbody tr td button
        @include button
        color: $pink-color
        background-color: transparent
        font-weight: 400
.profile-dashboard-request-lead
    & > h3
        @include subtitle-style
        color: $blue-color
        margin-bottom: 31px
.profile-dashboard-request-wrapper
    margin-bottom: 65px
    box-shadow: -5px 8px 7px 2px rgba(6, 8, 9, 0.11)
    background-image: linear-gradient(-106deg, #4566d0 0%, #324dc5 100%)
    border-radius: 45px
    padding: 66px
    & > table
        width: 100%
        border-spacing: 0 20px
        border-collapse: separate
        border: 0
    & > table thead tr th
        background: transparent
        color: #fefefe
        font-size: 18px
        font-weight: 400
    & > table thead tr th:nth-child(2)
        text-align: left
    & > table tbody tr td
        &:first-child
            border-radius: 15px 0 0 15px
        &:last-child
            border-radius: 0 15px 15px 0
    & > table tbody td
        padding: 25px 35px
        color: #272727
        font-family: Raleway
        font-size: 18px
        font-weight: 400
        text-align: center
        background: #ffffff
        border: 0
    & > table tbody tr
        background: #ffffff
    & > table tbody tr td:nth-child(2)
        text-align: left
        padding: 25px 0
    & > table tbody tr td:nth-child(5)
        color: #bd1727
    & > table tbody tr td button
        background: transparent
.profile-dashboard-bought-lead
    & > h3
        @include subtitle-style
        color: $blue-color
        margin-bottom: 31px
.profile-dashboard-bought-wrapper
    box-shadow: -5px 8px 7px 2px rgba(6, 8, 9, 0.11)
    background-image: linear-gradient(-106deg, #4566d0 0%, #324dc5 100%)
    border-radius: 45px
    padding: 66px
    & > table
        width: 100%
        border-spacing: 0 20px
        border-collapse: separate
        border: 0
    & > table thead tr th
        background: transparent
        color: #fefefe
        font-size: 18px
        font-weight: 400
    & > table thead tr th:nth-child(2)
        text-align: left
    & > table tbody tr td
        &:first-child
            border-radius: 15px 0 0 15px
        &:last-child
            border-radius: 0 15px 15px 0
    & > table tbody td
        padding: 25px 35px
        color: #272727
        font-family: Raleway
        font-size: 18px
        font-weight: 400
        text-align: center
        background: #ffffff
        border: 0
    & > table tbody tr
        background: #ffffff
    & > table tbody tr td:nth-child(2)
        text-align: left
        padding: 25px 0
