@media screen and  (max-width: 992px)
    .contact
        &-main
            &-wrapper
                &-left
                    width: 50%
                &-right
                    width: 48%
@media screen and (max-width: 768px)
    .contact
        &-main
            &-wrapper
                flex-wrap: wrap
                &-left
                    margin-bottom: 25px
                    width: 100%
                &-right
                    width: 100%
