@media screen and  (max-width: 1370px)
    .card
        &__main
            max-width: 348px
            min-width: 30%
        &-title
            &-img
                &__main
                    width: 4rem
            &-text
                &__main
                    font-size: 1.2rem

@media screen and  (max-width: 1200px)
    .card
        &__main
            max-width: 45%
            min-width: 45%
        &-title
            &-img
                &__main
                    width: 4rem
            &-text
                &__main
                    font-size: 1.2rem
